/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: #303030;
 }
 
 body {
   margin: 30px;
   line-height: 50px;
 }
 
 h1 {
   font-size: 25px;
 }
 
 p {
   margin: 0 10px 0 0;
   text-indent: 2.0em;
   font-size: 15px;
 }
 
 table {
   border-collapse: separate;
   border-spacing: 10px 15px;
 }
 
 